.scroll-to-top-button {
    display: none;
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 999;
    /* Additional styles as per your preference */
}

.scroll-to-top-button.visible {
    display: block;
}
.arrow__Style{
    border: 1px solid #b59175;
    background: transparent;
    color: #b59175;
    width: 40px;
    height: 40px;
    transition: ease .3s;
}
.arrow__Style:hover{
    background: #b59175;
    color: #fff;
}