.vidContainer{
    position: relative;
}
.vidContainer .imgItem{
    width: 90%;
    height: calc(100vh- 100px);
}
.overlayIcon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    opacity: 1;
    transition: opacity 0.3s ease;
    padding-right: 57px;
}
.overlayIcon button{
    background: transparent;
    color: #fff;
    border-color: #fff;
    position: relative;
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 50%;
    transition: all ease .4s;
}
.overlayIcon button:hover{
   border-color: transparent;
}
.overlayIcon button:hover span{
    text-decoration: none;
    
}
.overlayIcon button span{
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .3em;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    left: 0;
    right: 0;
    transition: all ease .4s;
}
.overlayIcon button span::after{
    content: '';
    position: absolute;
    width: 66%;
    height: 1px;
    background-color: #fff;
    right: -10%;
    top: calc(50% - 1px);
    transition: all .3s ease-in-out;
}
.overlayIcon button:hover span::after{
    width: 0;
}
.modal-content{
    background-color: transparent !important;
}