a{
    text-decoration: none !important;
}
.footerSec{
    margin-top: 120px;
    text-align: left;
    padding: 171px 0 145px;
    background-color: #1a1a1a;
    color: #fff;
}
.footerSec .footerBox{
padding: 0 15px;
}
.footerSec .footerBox.firstBox{
    padding-right: 4% !important;
}
.footerSec .footerBox .title.first{
font-size: 35px;
margin-bottom: 9px;

}
.footerSec .footerBox .title {
    font-family: 'Belleza';
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 18px;
}
.footerSec .footerBox .title a{
    text-decoration: none;
    color: #fff;
    font-family: 'Belleza';

}
.footerSec .footerBox .info p{
    font-size: 18px;
    margin-top: 6px;
    color: #999;
    font-family: 'Roboto',sans-serif;
    line-height: 1.62em;
    font-weight: 300;
}
.footerSec .footerBox .link span {
    margin-right: 21px;
}
.footerSec .footerBox .link span a{
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
    font-size: 13px;
    letter-spacing: .3em;
    font-weight: 400;
    position: relative;
    line-height: 30px;
}
.footerSec .footerBox .info span{
    margin: 0 0 13px;
    display: inline-block;
}
.footerSec .footerBox .info span a{
    color: #999;
    transition: color .2s ease-out;
    cursor: pointer;
}
.footerSec .footerBox .info span a:hover{
    color: #ffffff;
}
.footerSec .footerBox .inputStyle{
    color: #999;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    margin: 0 0 7px;
    border-radius: 0;
    padding: 0 !important;
}
.footerSec .footerBox .inputStyle::placeholder{
    color: #999;
}
.footerSec .footerBox .inputStyle:focus{
    outline: none !important;
    border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.footerSec .footerBox .labelStyle{
    font-size: 13px;
    font-style: italic;
    margin-bottom: 19px;
    position: relative;
    display: inline-block;
    margin: 0 0 9px;
    color: #999;
}
.footerSec .footerBox button{
    padding: 4px 51px!important;
    display: block;
    color: #b59175;
    background-color: transparent;
    border: 1px solid #b59175;
    font-family: Roboto,sans-serif;
    font-size: 13px;
    line-height: 30px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0;
    outline: 0;
    transition: color .2s ease-out,background-color .2s ease-out,border-color .2s ease-out;
    cursor: pointer;
}
.footerSec .footerBox button:hover{
    color: #fff;
    background-color: #b59175 ;
}